/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

footer{
  background: dark;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin : auto;
  padding-bottom: 50 px;
  border-bottom: 1 px solid #ccc;
}
.content-foo{
  text-align: center;
}
.content-foo h4{
  color: white;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.content-foo p{
  color: white;
  font-weight: bold;
}
.titulo-final{
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 20px 0 0 0;
}

